.container {
  display: flex;
}
.selectWrapper {
  margin: 10px 0px;
  display: flex;
  justify-content: space-around;
  flex: 1;
}
.selectControl {
  width: 200px;
}
.flexColumn {
  align-self: center;
  display: flex;
  flex-direction: column;
}
.center {
  display: flex;
  justify-content: center;
}
